/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=d1d6fdfc-e2c5-4c49-83fe-9b87fc2b6317&fontids=1491035");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "DIN 1451 LT W01 Mittelschrift";
  src: url("/css/fonts/1491035/f0f4ad1c-8dc7-4c5b-ad22-325a24c41aac.ttf") format("truetype"); }

* {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }

a {
  text-decoration: none;
  color: inherit;
  border-bottom: dotted #dfa841 0.15em; }
  a:hover, a:focus {
    background-color: #59595c; }
  figure a {
    border-bottom: inherit; }
  figure a:hover, figure a:focus {
    background-color: inherit; }
  .footnotes a {
    border-bottom: none;
    color: inherit; }
  nav a, footer a {
    border-bottom: none; }

.hidden {
  display: none; }

body {
  font-family: "DIN 1451 LT W01 Mittelschrift";
  background: #272728;
  color: #dfa841;
  font-size: 1.1em; }

header {
  font-size: 8em;
  height: 50vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.5em solid #dfa841; }
  @media all and (max-width: 700px) {
    header {
      font-size: 15vw; } }
  .homepage header {
    height: 100vh; }

header, nav, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

main, nav, footer {
  padding: 2em; }
  @media all and (max-width: 700px) {
    main, nav, footer {
      padding: 1.5em; } }

main, nav, footer {
  max-width: 600px;
  margin: auto; }

main {
  background: #333333;
  margin-top: 10em;
  min-height: 50vh; }
  @media all and (max-width: 700px) {
    main {
      margin-top: initial;
      min-height: 75vh; } }

.post-title, .page-title {
  font-size: 3em; }

.post-title {
  text-align: center; }

.homepage-title {
  text-align: center; }

.posts {
  margin-left: 0.25em; }

.day-in-posts, .post-in-day {
  margin-left: 1em;
  padding: 1em 0.5em;
  list-style-type: square; }

.post-date {
  text-align: center;
  padding: 1em; }

.post {
  min-height: 125vh; }
  @media all and (max-width: 700px) {
    .post {
      min-height: 50vh; } }

h2, h3, h4, h5 {
  text-transform: uppercase; }

h2 {
  font-size: 2em;
  margin: 1em auto; }
  .post h2::before {
    content: '## ';
    font-size: 75%;
    letter-spacing: 0.1em; }

h3 {
  font-size: 1.5em;
  margin: 0.75em auto; }
  .post h3::before {
    content: '### ';
    font-size: 75%;
    letter-spacing: 0.2em; }

.post h4::before {
  content: '#### ';
  font-size: 75%;
  letter-spacing: 0.2em; }

p {
  margin: 1em auto;
  line-height: 1.5; }

em::before, em::after {
  content: '*'; }

strong::before, strong::after {
  content: '**'; }

img {
  width: 100vw;
  margin-left: calc((100vw - 600px) / -2); }
  @media all and (max-width: 700px) {
    img {
      margin-left: -1.5em; } }

figcaption {
  padding: 1em;
  font-size: 80%;
  color: gray; }
  figure:hover figcaption, figure:focus figcaption {
    color: #dfa841; }

.footnote {
  font-size: 20%;
  vertical-align: super;
  border-bottom: none;
  background: #dfa841;
  color: #272728;
  border-radius: 1em;
  padding: 0.15em 0.5em; }
  .footnote:hover, .footnote:focus {
    color: #dfa841; }

.footnotes {
  color: gray;
  font-size: 90%;
  margin-top: 5em;
  border-top: 0.1em solid gray; }
  .footnotes ol {
    list-style-type: decimal;
    margin-left: 2em; }

pre, code {
  font-family: Monaco, Menlo, Courier, monospace;
  font-size: 70%; }

nav {
  text-align: center;
  min-height: 50vh;
  font-size: 150%; }
  nav li {
    padding: 0.5em;
    text-transform: uppercase; }
  @media all and (max-width: 700px) {
    nav {
      min-height: 25vh; } }

footer {
  text-align: center;
  padding: 1em; }
/*# sourceMappingURL=main.css.map */