@import reset
@import fonts

$DIN: "DIN 1451 LT W01 Mittelschrift"
$dark: #272728
$yellow: rgb(223,168,65)
$lightergray: lighten($dark, 20%)
$gray: gray

*
  transition: all 250ms ease-in-out

body
  font-family: $DIN
  background: $dark
  color: $yellow

header
  text-align: center
  text-transform: uppercase
  font-size: 10vw
  padding: 1em

main, nav, footer
  max-width: 650px
  margin: auto

main, nav
  min-height: 10vw

img
  width: 100vw
  margin-left: calc((100vw - 650px) / -2)

figcaption
  padding: 1em
  font-size: 90%
  color: $gray

  figure:hover &, figure:focus &
    color: $yellow

.post-title, .page-title
  font-size: 300%
  text-align: center

.posts
  padding: 1em
  margin-left: 5em

  li
    padding: 1em 0.5em;
    margin-left: 2em;
    list-style-type: square;

.post-date
  text-align: center
  padding: 1em

p
  line-height: 1.4
  padding: 1em
  max-width: 650px
  margin: auto

nav
  text-align: center

  li
    padding: 0.5em
    text-transform: uppercase

footer
  text-align: center
  padding: 1em

a
  text-decoration: none
  color: inherit
  border-bottom: dotted $yellow 0.15em

  &:hover, &:focus
    background-color: $lightergray

  figure &:hover, figure &:focus
    background-color: inherit

  nav &, footer &
    border-bottom: none
  