@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=d1d6fdfc-e2c5-4c49-83fe-9b87fc2b6317&fontids=1491035");
@font-face{
    font-family:"DIN 1451 LT W01 Mittelschrift";
    src:url("Fonts/1491035/e27b4f44-5fb7-42ab-acae-28f4ac3143fb.eot?#iefix");
    src:url("Fonts/1491035/e27b4f44-5fb7-42ab-acae-28f4ac3143fb.eot?#iefix") format("eot"),url("Fonts/1491035/e79663d6-4003-4f89-ba8a-f8afb9963115.woff2") format("woff2"),url("Fonts/1491035/ba08fcf3-e8e8-4ba0-ace8-25e6035123d3.woff") format("woff"),url("Fonts/1491035/f0f4ad1c-8dc7-4c5b-ad22-325a24c41aac.ttf") format("truetype");
}