<!DOCTYPE html>
  <html class="toni">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{ page.title }}</title>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
      <header>
        <h1>
          <a href="/">LeicaLand</a>
        </h1>
      </header>
      <main>
        {{ content }}
      </main>
      <nav id="nav">
        <h2 class="hidden">Links</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
        </ul>
      </nav>
      <footer id="footer">
        <!-- Auto-updating year from http://stackoverflow.com/a/25415233 -->
        <p>
          <script>
            new Date().getFullYear()>2018 && document.write("Copyright &copy; 2018&ndash;" + new Date().getFullYear());
          </script>
          <a href="http://anthonycraig.me" title="Site's creator">Anthony Craig</a>
        </p>
      </footer>
    </body>
  </html>